body {
  background-color: lightgray;
}

.imgqr {
  display: flex;
  justify-content: center;
  margin-top: 9%;
  width: 100%;
  height: 110%;
  border-radius: 5%;
}
.container {
  background-color: aliceblue;
  display: flex;
  position: relative;
  justify-content: center;
  margin: auto;
  margin-top: 8%;
  width: 350px;
  height: 480px;
  border-radius: 5%;
}
.subcontainer {
  width: 80%;
  height: 53%;
}
.texto {
  font-family: 'outfit';
  position: absolute;
  justify-content: center;
  margin-top: 2%;
}
.text1 {
  font-weight: 400px, 700px;
  font-weight: bold;
  font-size: 25px;
}
.text2 {
  font-size: 16 px;
}
